*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    overflow:hidden;

    font-family:"Poppins",sans-serif;

    background: linear-gradient(
        135deg,
        #F6DCE7 0%,
        #F8E8C8 30%,
        #DDEDF9 60%,
        #DDEFD9 100%
    );

}

.overlay{

    width:100%;
    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:rgba(255,255,255,.08);

    backdrop-filter: blur(8px);

}

.welcome-card{

    width:430px;

    padding:45px;

    text-align:center;

    background:#FFF3A8;

    border-radius:18px;

    transform:rotate(-2deg);

    box-shadow:
    0 18px 40px rgba(92,82,82,.15);

}

.welcome-card h1{

    color:#575757;

    font-size:42px;

    margin-bottom:18px;

}

.welcome-card p{

    color:#666;

    font-size:21px;

    margin-bottom:35px;

    line-height:1.5;

}

button{

    border:none;

    cursor:pointer;

    font-size:20px;

    font-weight:600;

    padding:18px 36px;

    border-radius:12px;

    background:#F6BFCB;

    color:#4B4B4B;

    transition:.3s;

}

button:hover{

    background:#F2AEBE;

    transform:translateY(-4px);

    box-shadow:0 12px 25px rgba(0,0,0,.12);

}
